@import "~bootstrap/scss/bootstrap";

.as-link{
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

//$custom-file-text: (
//        en: "Browserthsrth",
//        es: "Elegir",
//        ru: "hgvhgv"
//);

