@import "~bootstrap/scss/bootstrap";

.as-link{
  color: #007bff;
  text-decoration: underline;
  cursor: pointer;
}

.warning-message {
  color: red;
  font-weight: normal;
  font-size: small;
}

.warning-control {
  border: 1px solid red;
}

//$custom-file-text: (
//        en: "Browserthsrth",
//        es: "Elegir",
//        ru: "hgvhgv"
//);

