.item-add {
  .buttons {
    //border: 1px solid red;
    text-align: right;
    margin: 50px 0px;

    button {
      width: 150px;

    }

    &_save {
      margin-left: 30px;
    }
  }

  .main-property{
    //border: 1px solid red;
    input{
      width: 300px;
    }
    textarea{
      width: 500px;
    }
    span {
      color: red;
    }
    &__caption{
      //border: 1px solid red;
      font-weight: bold;
    }

    &__item{
      //border: 1px solid red;
      margin: 10px 0px;
    }

    .image {
      margin-left: 1.25rem;
      line-height: 35px;
      cursor: pointer;
      user-select: none;
    }

  }
}