.item-add {
  .main-property {
    //border: 1px solid red;
    input {
      //width: 300px;
    }

    textarea {
      //width: 500px;
    }

    span {
      color: red;
    }

    &__caption {
      //border: 1px solid red;
      font-weight: bold;
    }

    &__item {
      //border: 1px solid red;
      margin: 10px 0px;
    }

    .image {
      margin-left: 1.25rem;
      line-height: 35px;
      cursor: pointer;
      user-select: none;
    }

  }

  .btn-prop {
    $size: 27px;
    $color: blue;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    border-radius: 50%;
    border: 1px solid $color;
    color: $color;
    width: $size;
    height: $size;
    //text-align: center;
    font-weight: bolder;
    font-size: 20px;

    span{
      display: block;
      text-align: center;
      margin-bottom: 3px;
    }
  }

  .property-row {
    //border: 1px solid green;
    display: flex;
    margin: 0 -10px;

    label {
      width: 100%;
    }

    input {
      margin-bottom: 8px;
    }

    &__column {
      //border: 1px solid red;
      margin: 0 10px;
      //flex: 1 1 20px;

      &_width{
        flex: 0 1 450px
      }

      &_align-bottom{
        //border: 1px solid red;
        align-self: flex-end;
      }

    }
  }
}

