.item-list{
  th {
    color: darkgrey;
    font-weight: normal;

  }

  .th-pointer{
    cursor: pointer;
  }

  .first-column {
    color: black;
    font-weight: bold;
  }

  a{
    text-decoration: underline;
  }

  .search-panel{
    margin-bottom: 10px;
  }


}

